.faqs {
  padding: 48px 40px;
  min-height: 50vh;
  background-color: hsl(0 0% 100%);
  box-shadow: var(--box-shadow-500);

  &__title {
    margin-bottom: 30px;
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: clamp(1.2rem, 1vw + 1rem, 30px);
    font-weight: 400;
    color: #003b56;
    text-transform: uppercase;
  }
}
.faq {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &.active {
    .faq__answer {
      transform: scaleY(1);
      opacity: 1;
      max-height: 1000px;
      padding-top: 10px;
    }

    .faq__question {
      &::after {
        background-color: #003b56;
      }

      &::before {
        transform: scaleY(0);
      }
    }
  }
  &__question {
    position: relative;
    padding: 0;
    padding-left: 34px;
    width: 100%;
    font-family: firaGo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(0 0% 0%);
    text-align: left;
    border: none;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      width: 5px;
      height: 20px;
      background-color: #dc7947;
      transition: transform 250ms ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 5px;
      background-color: #dc7947;
      transition: background-color 250ms ease-in-out;
    }
  }

  &__answer {
    padding-left: 34px;
    font-family: firaGo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: hsl(0 0% 0%);
    transition: all 250ms ease-in-out;

    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    max-height: 0;
    padding-top: 0px;

    p {
      font-size: inherit;
    }
  }
}
