@font-face {
	font-family: mrgvlovaniCaps;
	font-display: swap;
	src: url('../fonts/mrgvlovaniCaps.woff2') format('woff2'), url('../fonts/mrgvlovaniCaps.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FiraGO;
	font-display: swap;
	src: url('../fonts/FiraGO-Regular.woff2') format('woff2'), url('../fonts/FiraGO-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
