.program {
  margin-bottom: 6px;

  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;

  &__link {
  }

  &__img {
    position: relative;
    width: 100%;
    max-height: 392px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px 20px;
      width: 100%;
      font-family: mrgvlovaniCaps, sans-serif;
      font-size: 20px;
      color: hsl(0 0% 100%);
      background-color: hsl(199 100% 17% / 0.7);
    }
  }

  &__body {
    padding: 18px 20px;
    background-color: hsl(0 0% 100%);
  }

  &__title {
    margin-bottom: 34px;
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: 18px;
    color: hsl(0 0% 0%);
  }

  &__desc {
    margin-bottom: 10px;
    font-family: firaGo, sans-serif;
    font-size: 16px;
    color: hsl(0 0% 0%);
  }

  &__price {
    margin-bottom: 10px;
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: 12px;
    color: #dc7947;
  }

  &__info {
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: 10px;
    color: #003b56;
  }

  &__actions {
    margin-top: 9px;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d5d5d5;
  }

  &__time {
    p {
      font-family: mrgvlovaniCaps, sans-serif;
      font-size: 12px;
      color: #003b56;
    }

    div {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 13px;
    }

    i {
      color: #dc7947;
    }

    span {
      font-family: mrgvlovaniCaps, sans-serif;
      font-size: 12px;
      color: #828282;
    }
  }

  &__btn {
    display: inline-block;
    padding-inline: 30px;
    height: 50px;
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: 16px;
    color: #003b56;
    background: hsl(0 0% 100%);
    border-radius: 30px;
    border: 1px solid #003b56;
  }
}

.programs {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 50px;
  }

  .program {
    &:hover {
      transform: scale(1.06);
    }
  }

  &__heading {
    display: flex;
    gap: 30px;
  }

  &__filters {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }

  &__title {
    position: relative;
    padding-top: 25px;
    margin-bottom: 40px;
    font-family: mrgvlovaniCaps, sans-serif;
    font-size: 18px;
    color: hsl(0 0% 0%);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      width: 100%;
      height: 3px;
      background-color: #ececec;
    }

    &::after {
      width: 110px;
      height: 3px;
      background-color: #003b56;
    }
  }
}

.programs-decor {
  padding-block: 50px;
  background: url(../img/programs-decor-top.svg) no-repeat right top,
    url(../img/decor-bottom.svg) no-repeat left bottom;
}
